
<div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark fs-3">
      <a class="navbar-brand text-primary fs-3">Welcome</a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a  class="nav-link" routerLink="/students/profile"> Profile </a>
        </li>
        <li class="nav-item">
            <a  class="nav-link" routerLink="/students/edit"> Edit </a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" routerLink="/students/events"> Events </a>
          </li>
        <li class="nav-item">
          <a href class="nav-link mx-5 " routerLink="/login"  (click)="logout()">Logout   </a>
        </li>
      </ul>
    
    </nav>
  </div>
  
  
  
  
  