

<div id="app">
  <!-- <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Welcome</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li> -->
      <!-- <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
      </li>
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>





         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </li> -->
    <!-- </ul>

    <ul class="navbar-nav ml-auto " *ngIf="!isLoggedIn">


      <li class="nav-item ">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
      
      <li class="nav-item ms-5 mx-3  ">
        <a  class="nav-link" routerLink="studentregister"> Student Sign-Up </a>
      </li>
      <li class="nav-item">
        <a class="nav-link right-2" routerLink="speakerregister"> Speaker Sign-Up </a>
      </li>



      <div class="dropdown position-absolute top-0 end-0">
        <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown">
          sign up 
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Link 1</a></li>
          <li><a class="dropdown-item" href="#">Link 2</a></li>
          <li><a class="dropdown-item" href="#">Link 3</a></li>
        </ul>
      </div>
      
    </ul> -->
    <!-- <ul class="nav navbar-nav ms-auto">
      <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Admin</a>
          <div class="dropdown-menu dropdown-menu-end">
              <a href="#" class="dropdown-item">Reports</a>
              <a href="#" class="dropdown-item">Settings</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">Logout</a>
          </div>
      </li>
  </ul> -->
<!-- 
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{email}}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" routerLink="/login"  (click)="logout()">LogOut   </a>
      </li>
    </ul>
  </nav> -->

  <div >
    <router-outlet></router-outlet>
  </div>
</div>




