<app-studentnav-bar></app-studentnav-bar>

<div>

    
    <div class="container bg-light">
        
        <div class="  row fs-1   ">
        <div class="col-8 my-5 text-primary fw-bold" >
            Student Information
        </div>
        <div class="col-2 my-5 ">
            <a class="btn btn-primary fs-3" routerLink="/students/edit" > Edit profile </a>
        </div>
        <div class="col-2 my-5 ">
            <a class="btn btn-danger fs-3" routerLink="/students/events" > Show Events </a>
        </div>
    </div>
    <hr>
        
    <div class=" row fs-3 mx-5 my-4 ">
        <div class="col-6 fw-bold ">
            Student Email
        </div>
        <div class="col-6 ">
            {{std.email}}
        </div>
    </div>
    <hr>
    
    <div class=" my-4 row fs-3 mx-5 ">
        <div class="col-6 fw-bold ">
            Student Id
        </div>
        <div class="col-6 ">
            {{std._id}}
        </div>
    </div>
    <hr>
    <div class=" row fs-3 mx-5 my-4 ">
        <div class="col-6 fw-bold ">
            Student Password
        </div>
        <div class="col-6 ">
            ●●●●●●●
        </div>
    </div>
    <hr>

</div>
</div>